{% load static %}
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Blog dla programistów</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'blog.css' %}">
    </head>
<body>
<div id="container">
    <div class="page-header">
        <h1><a href="/">BLOG DLA PROGRAMISTÓW</a></h1>
    </div>
    <div id="menu">
            <div class="option">Strona główna</div>
            <div class="option">Zaloguj się</div>
            <div class="option">Zarejestruj się</div>
            <div class="option">Utwórz post</div>
            <div class="option">O projekcie</div>
            <div style="clear:both;"></div>
        </div>
    <div id="topbar">
            <div id="topbarL">
                <img src="{% static 'css/agile-logo.png' %}" width="120" height="105" />
            </div>
            <div id="topbarR">
                <span class="bigtitle">O projekcie słów kilka</span>
                <div style="height: 15px;"></div>
                Jest to projekt zaliczeniowy przedmiotu <b>"Programowanie z wykorzystaniem metodyk zwinnych"</b>. Skład zespołu scrum:
                Sławomir Śpiewak - Product Owner,
                Zofia Tyczka - Scrum Master,
                Kamil Safaryjski - DEV,
                Patryk Pietryga - DEV.
            </div>
            <div style="clear:both;"></div>
        </div>
    <div id="sidebar">
            <div class="optionL">Strona główna</div>
            <div class="optionL">Zaloguj się</div>
            <div class="optionL">Zarejestruj się</div>
            <div class="optionL">Utwórz post</div>
            <div class="optionL">O projekcie</div>
        </div>
    <div class="content">
        <div class="row"->
            <div class="col-md-8">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    <div id="footer">
        Projekt na zwinne &copy; Wszelkie prawa zastrzeżone
    </div>
</div>
</body>
</html>